@import "../../../assets/styles/_base/variables";
@import "../../../assets/styles/_base/typography";

.quantity-control {
   display: flex;
   align-items: center;

   &__button {
       border: 1px solid $blue;
       border-radius: calc(1px / 0);
       height: 32px;
       width: 32px;
       padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       box-sizing: border-box;

       &:hover {
        border: 1px solid $blue;  
       }

       &:focus {
        box-shadow: 0 0 0 0.25rem rgba($blue, 0.25);
       }

       svg {
           height: 11px;
           width: 11px;
           fill: $blue;
       }

       &--md {
           width: 24px;
           height: 24px;

           svg {
               width: 8px;
               height: 8px;
           }
       }

       &--lg {
           border: none;

           &:hover {
            border: none;  
           }

           svg {
               width: 32px;
               height: 32px;
           }
       }

       &--less-than-zero {
           background-color: $grey--100 !important;
           border: none;

           svg {
               fill: $grey--200;
           }
       }
   }

   span {
       margin: 0 4px;
       min-width: 32px;
       text-align: center;
       @include font-size($font-regular);
       font-weight: $font-weight--bold;
   }

   label {
       color: $grey--300;
       font-weight: $font-weight--semibold;
       @include font-size($font-small);
       margin-left: 8px;
   }
}