@import "../../../../styles/_base/variables";
@import "../../../../styles/_base/typography";

.custom-form-radio {
    &__label {
        font-weight: $font-weight--regular;
        color: $grey--300;

        svg {
            width: 22px;
            height: 22px;
            margin-right: 4px;
        }
    }

    &__input {
        border: 2px solid $grey--200;

        &:checked {
            background-image: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M20.9305 6.59058L9.93054 17.5906L4.93054 12.5906" stroke-width="3" stroke="white" stroke-linecap="round" stroke-linejoin="round" /></svg>');
            background-color: $blue;
            border-color: $blue;
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($blue, 0.25);
        }
    }
}