@import "../../../../assets/styles/_base/variables";
@import "../../../../assets/styles/_base/typography";

.custom-form-check {
    &__label {
        font-weight: $font-weight--regular;
        color: $grey--300;

        svg {
            width: 18px;
            height: 18px;
            margin-right: 4px;
        }
    }

    &__input {
        border: 2px solid $grey--200;

        &:checked {
            background-color: $blue;
            border-color: $blue;
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($blue, 0.25);
        }
    }
}