@import "../../../assets/styles/_base/variables";
@import "../../../assets/styles/_base/typography";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.header {
    background-color: $primary;
    padding-top: 16px;
    padding-bottom: 16px;
    
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-up(lg) {
           gap: 24px;
           padding: 0 64px;
           max-width: 1440px;
        }
    }

    &__logo {
        width: 32px;
        overflow: hidden;
        height: 32px;     
        margin-right: 24px;

        @include media-breakpoint-up(lg) {
            width: auto;
            overflow: visible;
        }
        
        svg {
            height: 100%;
            width: 50px;

            @include media-breakpoint-up(lg) {
              width: 73px;
              height: 40px;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
    } 

    &__address {
        display: flex;
        align-items: center;

        > div {
            display: flex;
            align-items: flex-end;

            p {
                color: $white;
                display: inline;
                @include font-size($font-small);
                font-family: $font-family--primary;
                margin-bottom: 0;
                font-weight: bold;
                line-height: 1;
                color: $rose;
    
                b {
                    display: block;
                    margin-top: 4px;
                    @include font-size($font-regular);
                    color: $white;
                }
            }

            svg {
                height: 12px;
                width: 12px;
                stroke: $white;
                margin-left: 4px;
                margin-bottom: 3px;
            }
        }

        > svg {
            width: 22px;
            height: 22px;
            margin-right: 16px;
        }
    }

    &__search-bar {
        display: none;

        @include media-breakpoint-up(lg) {
            position: relative;
            display: block;

            > form {
                display: flex;
                align-items: center;

                input {
                    min-width: 420px;
                    padding-left: 40px;
                    height: 40px;
                    border-radius: 8px;
                }

                input::placeholder {
                    color: $grey--300;
                    font-family: $font-family--primary;
                    font-weight: $font-weight--semibold;
                    @include font-size($font-small);
                    opacity: 1;
                }
            }

            button {
                position: absolute;
                left: 10px;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }

    &__button {
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            column-gap: 24px;
        }
    }

    &__user {
        height: 24px;
        width: 22px;
    }
}