
@import "./_base/typography";
@import "./_base/variables";
@import "./_components/atoms/_buttons";
@import "bootstrap/scss/bootstrap";

body {
  font-family: $font-family--primary;
}

.form-control {
  border-color: rgba($primary, 0.3) !important;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.2) !important;
  }
}
