*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
   }
   
   /* Preferred box-sizing value */
   *,
   *::before,
   *::after {
    box-sizing: border-box;
   }
   
   /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
   */
   ol, ul {
    list-style: none;
   }
   