$primary: #7b1fa2;
$green: #02a117;
$white: #ffffff;
$blue: #00a296;
$rose: #eecffc;
$grey--500: #202326;
$grey--400: #393a3c;
$grey--300: #6d6f73;
$grey--200: #A8ADB7;
$grey--100: #eef0f5;

$font-family--primary: "Nunito", sans-serif;
